[submodule "scalable_real2sim/robot_payload_id"]
	path = scalable_real2sim/robot_payload_id
	url = https://github.com/nepfaff/robot_payload_id.git
[submodule "scalable_real2sim/neuralangelo"]
	path = scalable_real2sim/neuralangelo
	url = https://github.com/evelyn-fu/neuralangelo.git
	branch = object_masking
[submodule "scalable_real2sim/Frosting"]
	path = scalable_real2sim/Frosting
	url = https://github.com/nepfaff/Frosting.git
[submodule "scalable_real2sim/BundleSDF"]
	path = scalable_real2sim/BundleSDF
	url = https://github.com/nepfaff/BundleSDF.git
[submodule "scalable_real2sim/pickplace_data_collection"]
	path = scalable_real2sim/pickplace_data_collection
	url = https://github.com/evelyn-fu/pickplace_data_collection.git
